################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/azurestack/v15/.suo
/.vs/config/applicationhost.config
/.vs/slnx.sqlite
